/* CSS for website */
table.full {width:100%;}
table { border-collapse: collapse; margin-bottom:15px; }

table th, td {
    border:1px solid rgb(23,53,81);
    padding: 3px;
    color:#222;
}

table th {
    border-bottom:2px solid rgb(23,53,81);
    background:rgb(37,78,117);
    color:#fff;
    text-align:center;
}